{
	"printWidth": 80,
	"singleQuote": true,
	"semi": false,
	"tabWidth": 2,
	"trailingComma": "all",
	"overrides": [
		{
			"files": "*.scss",
			"options": {
				"singleQuote": true,
				"tabWidth": 2
			}
		}
	]
}
