// border
$radius-xs: 10px;
$radius-s: 18px;
$radius-sm: 24px;
$radius-m: 32px;

$radius-base: 12px;

// colors
$gray-light: #dedede;
$gray-default: #e5e7eb;
$gray-dark: #888;
$secondary: #fff;
$primary: #000000;
$disabled: #6b7280;
$error: #ef4444;

// font-size
$font-xs: 12px;
$font-s: 13.8px;
$font-sm: 14px;
$font-m: 14.5px;
$font-base: 16px;
$font-lg: 19px;
$font-xl: 21px;
$font-2xl: 25px;
$font-3xl: 30px;
$font-4xl: 32px;
