// border
$radius-xs: 4px;
$radius-s: 8px;
$radius-base: 10px;
$radius-m: 12px;

// colors
$gray-light: #dedede;
$gray-default: #e5e7eb;
$gray-dark: #888;
$white: #fff;
$black: #000;
$pink-light: #ffb1b2;
$pink-dark: #fc5ca9;

// font-size
$font-xs: 12px;
$font-s: 13.8px;
$font-sm: 14px;
$font-m: 14.5px;
$font-base: 16px;
$font-lg: 19px;
$font-xl: 21px;
$font-2xl: 25px;
$font-3xl: 30px;
$font-4xl: 32px;
